{
	"WorkshopConfig": {
		"OrgId":             "your_Organization_ID",
		"Provider":          "AWS",
		"SsoDomain":         "vmc.local",
		"NumHosts":          1,
		"DeploymentType":    "SingleAZ",
		"Region":            "US_WEST_2",
		"VpcCidr":           "10.60.0.0/16",
		"Datastore":         "WorkloadDatastore",
		"ContentLibraryName":"CL",
		"ContentLibraryURL": "https://s3-us-west-2.amazonaws.com/your-bucket-name/lib.json",
		"sslThumbprint":     "cd:3f:4b:6a:1d:86:f2:4e:0c:44:74:80:d6:0d:01:a6:81:9b:d3:95",
		"NatConfig": {
			"Win2k12": { "last_octet":"3", "port":"3389" },
			"CentOS7": { "last_octet":"4", "port":"22"   }
		},
		"DnsConfig": [ "10.60.11.118", "10.60.12.118" ]
	},
	"Organizations": {
		"your_Organization_ID": {
			"Name":          "This is merely for documenting the contents",
			"RefreshToken":  "your_OAuth_refresh_token",
			"LinkedAccount": "your_AWS_customer_account",
			"LinkedSubnets":  [ "subnet-0430d8086154f25b7" ],
			"SddcPods": {
				"pod-01": { "VxlanSubnet": "10.70.1.0/24",  "ManagementCidr": "10.80.0.0/23"  },
				"pod-02": { "VxlanSubnet": "10.70.2.0/24",  "ManagementCidr": "10.80.2.0/23"  },
				"pod-03": { "VxlanSubnet": "10.70.3.0/24",  "ManagementCidr": "10.80.4.0/23"  },
				"pod-04": { "VxlanSubnet": "10.70.4.0/24",  "ManagementCidr": "10.80.6.0/23"  },
				"pod-05": { "VxlanSubnet": "10.70.5.0/24",  "ManagementCidr": "10.80.8.0/23"  },
				"pod-06": { "VxlanSubnet": "10.70.6.0/24",  "ManagementCidr": "10.80.10.0/23" },
				"pod-07": { "VxlanSubnet": "10.70.7.0/24",  "ManagementCidr": "10.80.12.0/23" },
				"pod-08": { "VxlanSubnet": "10.70.8.0/24",  "ManagementCidr": "10.80.14.0/23" },
				"pod-09": { "VxlanSubnet": "10.70.9.0/24",  "ManagementCidr": "10.80.16.0/23" },
				"pod-10": { "VxlanSubnet": "10.70.10.0/24", "ManagementCidr": "10.80.18.0/23" },
				"pod-11": { "VxlanSubnet": "10.70.11.0/24", "ManagementCidr": "10.80.20.0/23" },
				"pod-12": { "VxlanSubnet": "10.70.12.0/24", "ManagementCidr": "10.80.22.0/23" },
				"pod-13": { "VxlanSubnet": "10.70.13.0/24", "ManagementCidr": "10.80.24.0/23" },
				"pod-14": { "VxlanSubnet": "10.70.14.0/24", "ManagementCidr": "10.80.26.0/23" },
				"pod-15": { "VxlanSubnet": "10.70.15.0/24", "ManagementCidr": "10.80.28.0/23" },
				"pod-16": { "VxlanSubnet": "10.70.16.0/24", "ManagementCidr": "10.80.30.0/23" },
				"pod-17": { "VxlanSubnet": "10.70.17.0/24", "ManagementCidr": "10.80.32.0/23" },
				"pod-18": { "VxlanSubnet": "10.70.18.0/24", "ManagementCidr": "10.80.34.0/23" },
				"pod-19": { "VxlanSubnet": "10.70.19.0/24", "ManagementCidr": "10.80.36.0/23" },
				"pod-20": { "VxlanSubnet": "10.70.20.0/24", "ManagementCidr": "10.80.38.0/23" },
				"pod-21": { "VxlanSubnet": "10.70.21.0/24", "ManagementCidr": "10.80.40.0/23" },
				"pod-22": { "VxlanSubnet": "10.70.22.0/24", "ManagementCidr": "10.80.42.0/23" },
				"pod-23": { "VxlanSubnet": "10.70.23.0/24", "ManagementCidr": "10.80.44.0/23" },
				"pod-24": { "VxlanSubnet": "10.70.24.0/24", "ManagementCidr": "10.80.46.0/23" },
				"pod-25": { "VxlanSubnet": "10.70.25.0/24", "ManagementCidr": "10.80.48.0/23" },
				"pod-26": { "VxlanSubnet": "10.70.26.0/24", "ManagementCidr": "10.80.50.0/23" },
				"pod-27": { "VxlanSubnet": "10.70.27.0/24", "ManagementCidr": "10.80.52.0/23" },
				"pod-28": { "VxlanSubnet": "10.70.28.0/24", "ManagementCidr": "10.80.54.0/23" },
				"pod-29": { "VxlanSubnet": "10.70.29.0/24", "ManagementCidr": "10.80.56.0/23" },
				"pod-30": { "VxlanSubnet": "10.70.30.0/24", "ManagementCidr": "10.80.58.0/23" },
				"pod-31": { "VxlanSubnet": "10.70.31.0/24", "ManagementCidr": "10.80.60.0/23" },
				"pod-32": { "VxlanSubnet": "10.70.32.0/24", "ManagementCidr": "10.80.62.0/23" },
				"pod-33": { "VxlanSubnet": "10.70.33.0/24", "ManagementCidr": "10.80.64.0/23" },
				"pod-34": { "VxlanSubnet": "10.70.34.0/24", "ManagementCidr": "10.80.66.0/23" },
				"pod-35": { "VxlanSubnet": "10.70.35.0/24", "ManagementCidr": "10.80.68.0/23" },
				"pod-36": { "VxlanSubnet": "10.70.36.0/24", "ManagementCidr": "10.80.70.0/23" }, 
				"pod-37": { "VxlanSubnet": "10.70.37.0/24", "ManagementCidr": "10.80.72.0/23" },
				"pod-38": { "VxlanSubnet": "10.70.38.0/24", "ManagementCidr": "10.80.74.0/23" },
				"pod-39": { "VxlanSubnet": "10.70.39.0/24", "ManagementCidr": "10.80.76.0/23" },
				"pod-40": { "VxlanSubnet": "10.70.40.0/24", "ManagementCidr": "10.80.78.0/23" },
				"pod-41": { "VxlanSubnet": "10.70.41.0/24", "ManagementCidr": "10.80.80.0/23" },
				"pod-42": { "VxlanSubnet": "10.70.42.0/24", "ManagementCidr": "10.80.82.0/23" },
				"pod-43": { "VxlanSubnet": "10.70.43.0/24", "ManagementCidr": "10.80.84.0/23" },
				"pod-44": { "VxlanSubnet": "10.70.44.0/24", "ManagementCidr": "10.80.86.0/23" },
				"pod-45": { "VxlanSubnet": "10.70.45.0/24", "ManagementCidr": "10.80.88.0/23" },
				"pod-46": { "VxlanSubnet": "10.70.46.0/24", "ManagementCidr": "10.80.90.0/23" },
				"pod-47": { "VxlanSubnet": "10.70.47.0/24", "ManagementCidr": "10.80.92.0/23" },
				"pod-48": { "VxlanSubnet": "10.70.48.0/24", "ManagementCidr": "10.80.94.0/23" },
				"pod-49": { "VxlanSubnet": "10.70.49.0/24", "ManagementCidr": "10.80.96.0/23" },
				"pod-50": { "VxlanSubnet": "10.70.50.0/24", "ManagementCidr": "10.80.98.0/23" },
				"pod-51": { "VxlanSubnet": "10.70.51.0/24", "ManagementCidr": "10.80.100.0/23" },
				"pod-52": { "VxlanSubnet": "10.70.52.0/24", "ManagementCidr": "10.80.102.0/23" },
				"pod-53": { "VxlanSubnet": "10.70.53.0/24", "ManagementCidr": "10.80.104.0/23" },
				"pod-54": { "VxlanSubnet": "10.70.54.0/24", "ManagementCidr": "10.80.106.0/23" },
				"pod-55": { "VxlanSubnet": "10.70.55.0/24", "ManagementCidr": "10.80.108.0/23" },
				"pod-56": { "VxlanSubnet": "10.70.56.0/24", "ManagementCidr": "10.80.110.0/23" },
				"pod-57": { "VxlanSubnet": "10.70.57.0/24", "ManagementCidr": "10.80.112.0/23" },
				"pod-58": { "VxlanSubnet": "10.70.58.0/24", "ManagementCidr": "10.80.114.0/23" },
				"pod-59": { "VxlanSubnet": "10.70.59.0/24", "ManagementCidr": "10.80.116.0/23" },
				"pod-60": { "VxlanSubnet": "10.70.60.0/24", "ManagementCidr": "10.80.118.0/23" },
				"pod-61": { "VxlanSubnet": "10.70.61.0/24", "ManagementCidr": "10.80.120.0/23" },
				"pod-62": { "VxlanSubnet": "10.70.62.0/24", "ManagementCidr": "10.80.122.0/23" },
				"pod-63": { "VxlanSubnet": "10.70.63.0/24", "ManagementCidr": "10.80.124.0/23" },
				"pod-64": { "VxlanSubnet": "10.70.64.0/24", "ManagementCidr": "10.80.126.0/23" },
				"pod-65": { "VxlanSubnet": "10.70.65.0/24", "ManagementCidr": "10.80.128.0/23" },
				"pod-66": { "VxlanSubnet": "10.70.66.0/24", "ManagementCidr": "10.80.130.0/23" },
				"pod-67": { "VxlanSubnet": "10.70.67.0/24", "ManagementCidr": "10.80.132.0/23" },
				"pod-68": { "VxlanSubnet": "10.70.68.0/24", "ManagementCidr": "10.80.134.0/23" },
				"pod-69": { "VxlanSubnet": "10.70.69.0/24", "ManagementCidr": "10.80.136.0/23" },
				"pod-70": { "VxlanSubnet": "10.70.70.0/24", "ManagementCidr": "10.80.138.0/23" }
			}
}
	}
}
